.commerce-container {
    position: relative;
    font-family: "Share Tech", sans-serif;
    background-color: #121212;
    min-height: 100vh;
    width: 100vw;
    contain: paint;
    display: flex;
    justify-content: center;
    align-items: center;
}

.commerce-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    width: 80%;

    animation: fadesIn both;    /* Sử dụng animation fadesIn và both để animation mượt hơn*/
    animation-timeline: view(70% 10%); /*Animation bắt đầu ở 10% màn hình và kết thúc ở 70% màn hình (Đừng để mấy cái body của full page là overflow: hidden mà hãy để là clip*/
}



@keyframes fadesIn {
    from {
        filter: saturate(0) contrast(4) brightness(.1) blur(5px);
        opacity: 0;
        scale: 0.95;
        translate: 0 4rem;
    }
    to {
        filter: none;
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }
}
