.commerce-container {
    position: relative;
    font-family: "Share Tech", sans-serif;
    background-color: #121212;
    min-height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.commerce-contant {
    width: 0%;
    max-width: 80vw;                    
    justify-content: center;      /* căn giữa ngang */
    align-items: flex-start;      /* top align */
    padding: 20px 0;
}
.commerce-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    width: 80%;
}
